ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
li{
    margin:0;
    padding:0;
}

b{
    color:#C6D4DF;
}

p{
    color:#8F98A0;
    margin:0;
    padding:0;
}
html{
    background-color: #1B2833;
    overflow:hidden;
}
body{
}

.login_button{
        border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #67c1f5 !important;
    background: rgba( 103, 193, 245, 0.2 );
        margin-left: 20px;
}


.main_area {
    display:flex;
}

.left_region {
    display:flex;
    flex:2;
    flex-direction: column;
    /*background-color: #171a21;   
    justify-content:flex-start;
    align-items:center;*/
    overflow-y:auto;
    overflow-x:hidden;
    height:0px;
    max-width:255px;
    min-width:125px;

    background: #242424; /* Old browsers */
background: -moz-linear-gradient(top, #242424 0%, #171717 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #242424 0%,#171717 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #242424 0%,#171717 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#171717',GradientType=0 ); /* IE6-9 */
}

.left_region::-webkit-scrollbar-track{
    /*box-shadow: inset 0 0 6px rgba(0,0,0,0.0);*/
    background: #343434; /* Old browsers */
background: -moz-linear-gradient(top, #343434 0%, #171717 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #343434 0%,#171717 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #343434 0%,#171717 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#171717',GradientType=0 ); /* IE6-9 */
    border-radius: 0px; 
    /*background-color: white ;*/
}

.left_region::-webkit-scrollbar
{
    width: 12px;
    /*background-color: #F5F5F5;*/
}

.left_region::-webkit-scrollbar-thumb
{
    border-radius: 0px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #585758;
}
.left_region::-webkit-scrollbar-thumb:hover
{
    border-radius: 0px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #767676;

}

.controls img{
    height:20px;
    width:20px;
    flex:1;
}


.installed_apps{
    display:flex;
    flex-direction:column;
}
.app{
    display:flex;
    flex: 1;
    min-height:20px;
    max-height:20px;
    align-items: center;
        /*background-image: url('http://cdn.akamai.steamstatic.com/steam/apps/252950/header.jpg');
    background-size:contain;*/
}
.app:hover{
    background-color:#193754;
}
.app:hover .app_title{
    color:#ffffff;
}
.selected{
    background-color:#193754;
    color:#ffffff;
}
.icon{
    width:16px;
    height:16px;
}
.app_title{
    padding-left:8px;
    font-size:13px;
    font-family: "Motiva Sans", Sans-serif;
    white-space: nowrap;
}

.right_region{
    display:flex;
    flex:5;
    flex-direction: column;
}
.select_region{
    flex:1;
    display:flex;
    flex-direction: column;
}
.select{
    display:flex;
    flex-wrap:wrap;

}
.avatar_container{
    padding:5px;
}
.avatar{
    flex:1;
    height:100px;
    width:100px;
        background-color: #2a3f5a;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0 #45556c;
    padding:5px;
}

.personas{
    display:flex;
    flex-direction: column;
}

.persona{
    display:flex;
    flex:1;
    max-width: 200px;
    min-width:100px;
    align-items: center;

}

.persona input{
    background-color: #2a3f5a;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0 #45556c;
    height: 20px;
    color:#fff;
    padding:5px;
    flex:1;
}

.persona img{
    height: 14%;
    width: 14%;
    padding-left:5px;
}






}
